<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://kit.fontawesome.com/acaea416c1.js" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/ae8d15b2f5.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous" />
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.css" />
    <link rel="stylesheet" href="preloader.css">
    <link rel="stylesheet" href="styles.css" />
    <title>Moves App</title>
</head>

<body onload="init()">

    <!-- Image and text -->
    <nav class="navbar navbar-light bg-dark">
        <a class="navbar-brand text-light" href="#">
            <img src="../imgs/mLogo3.png" width="40" height="30" class="d-inline-block align-top" alt="" />
            Moves
        </a>

        <div class="dropleft show">
            <!-- currentUser pulls in user from email-->
            <a class="btn-nav dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"><i class="fas fa-cog"></i>
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" id="newProject" href="app.html"><i class="fas fa-pencil-ruler mr-2"></i></i>New</a>
                <a class="dropdown-item" id="saveAll" href="#"><i class="fas fa-save mr-2"></i>Save</a>
              <!----  <a class="dropdown-item" id="loadProject" onclick="loadProject()" href="#"> <i class="fas fa-folder-open mr-2"></i>Load Routine</a>  -->
                <a class="dropdown-item" id="signOut" href="#"> <i class="fas fa-sign-out-alt mr-2"></i>Sign Out</a>
               <!---- <a class="dropdown-item" id="testFunc" onclick="testFunc()" href="#"> <i class="fas fa-hammer mr-2"></i></i>Test Function</a>  -->
                <div class="custom-control custom-switch switch">
                    <input value="" type="checkbox" class="custom-control-input mr-2 " id="bgtoggle">
                    <label class="custom-control-label" for="bgtoggle">Basketball Court</label>
                </div>
                <div class="custom-control custom-switch">
                    <input value="" type="checkbox" class="custom-control-input switch mr-2" id="gridtoggle">
                    <label class="custom-control-label" for="gridtoggle">Grid</label>
                </div>
                <div class="custom-control custom-switch switch">
                    <input value="" type="checkbox" class="custom-control-input switch mr-2" id="splashtoggle">
                    <label class="custom-control-label" for="splashtoggle">SplashScreen</label>
                </div>

            </div>
        </div>
    </nav>
    <div id="splashScreen">
        <div justify-content-center>
         
        <!--Splash Menu ; New Project or Load existing ----------------------------------------------------------->
        <div class="container" id="loadScreen">

            <div class="row justify-content-center vertical-center">

                <div class="card shadow-lg m-3 p-3 splashcard" id="loadProjectBtn">
                    <div class="card-body ">
                        <h1>Load</h1>

                    </div>
                </div>
                <div class="card shadow-lg m-3 p-3 splashcard" id="newProjectBtn">
                    <div class="card-body ">
                        <h1>New</h1>
                    </div>
                </div>
                <!--  -->
            </div>
        </div>
        <!-- ; New Project ----------------------------------------------------------->
        <div class="container " id="newProjectContent">
            <div class="row justify-content-center vertical-center">
               
                <div class="card splashcard2 shadow" style="width: 18rem;">
                 
                    <div class="card-body">
                      <h5 class="card-title text-center">How Many People?</h5>
                    <h3 class="card-text text-center" id="countP">1</h3>
                      <div>
                        <button class="btn m-3" id="subP" onclick="subPerson()" style="display:inline">-</button>
                        <button class="btn m-3" id="plusPbtn" onclick="plusPerson()" style="display:inline">+</button>
                      </div>
                      <div>
                         <button class="goBtn" onclick="goMain()" style="background-color: green;"><i class="fas fa-arrow-circle-right"></i></button>
                      </div>
                    </div>
                  </div>
  
            </div>
        </div>
    </div>
    <div class="cubeBox vertical-center" id="cubeBoxContainer">
        <div class="cube">
          <div class="sides">
            <div class="top"></div>
            <div class="right"></div>
            <div class="bottom"></div>
            <div class="left"></div>
            <div class="front"></div>
            <div class="back"></div>
          </div>
        </div>
        <div class="text" id="cubetext">SETTING THE STAGE</div>
      </div>
      <div id="loadProjectScreen">
        <div class="row justify-content-center vertical-center">
               
            <div class="card splashcard2 shadow" style="width: 18rem;">
             
                <div class="card-body">
                    <h5 class="text-center">Load Project</h5>
                    <div role="tabpanel">
                    <ul class="list-group mb-3 mt-3"  id="loadedProjects" role="tablist">
                        <!-- Injected list via Firebase load -->
                      </ul>
                    </div>
                  <div>
                     <button class="goBtn" onclick="loadProject()" style="background-color: green;"><i class="fas fa-arrow-circle-right"></i></button>
                  </div>
                </div>
              </div>

        </div>
      </div>
    </div>
    <div id="mainContent">
        <div>
            <div class="container">
                <div class="row justify-content-center">
                    <!----    <div class="">

                            <h5>Selected: <span class="card-title text-dark" id="selectedName"> </span></h5>
                            <!----  <h6 class="card-subtitle mb-2 text-muted" id="selectedGrpName">[Group Name]</h6>  
                            <p class="card-text">
                            </p>
                            <div>
                                <label for="favcolor">Color :</label>
                                <input type="color" id="selectedColor" name="favcolor" value="#212121">
                            </div>
                            <div>
                                <label for="namechange">Name:</label>
                                <input type="text" id="namechange" name="namechange" class="rounded" value=" ">
                            </div>
                        </div> -
        
                        <div class="col-sm-4 col-md-4 col-lg-4  col-xl-12">
                            <div class="card shadow rounded" style="width: 18rem;">
                                <div class="card-body  text-dark">
            
                            
                                    <div class="custom-control custom-switch">
                                        <input value="" type="checkbox" class="custom-control-input" id="bgtoggle">
                                        <label class="custom-control-label" for="bgtoggle">Basketball Court</label>
                                    </div>
                                    <div class="custom-control custom-switch">
                                        <input value="" type="checkbox" class="custom-control-input" id="gridtoggle">
                                        <label class="custom-control-label" for="gridtoggle">Grid</label>
                                    </div>
                                </div>
                            </div>
                        </div>-->

                    <div class="col-lg-12 col-xl-12 col-xs-12  ">
                        <div class="alert alert-warning alert-dismissible fade show">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            Removed Selection
                        </div>
                        <div id="overlay">

                            <canvas class="mStage " id="demoCanvas" width="1200px" height="600px"></canvas>
                        </div>
                        <div class="container-fluid ">
                            <div class="row justify-content-center">
                                <div class="btncontainer">
                                    <div class="btn-toolbar" role="toolbar">
                                        <div class="btn-group btn-group-justified" role="group">
                                            <div class="btn-group" id="btn-select" value="0" role="group">
                                                <button id="selectBtn" class="btn rounded btn-info"
                                                    data-original-title="Refreshr">
                                                    <i class="fas fa-hand-pointer"></i>
                                                </button>
                                            </div>
                                            <div class="btn-group" id="btn-play" value="Play" disabled="disabled"
                                                role="group">
                                                <button id="playBtn" class="btn rounded btn-primary"
                                                    data-original-title="Refreshr">
                                                    <i class="fas fa-play"></i>
                                                </button>
                                            </div>

                                            <div class="btn-group" id="btn-pause" value="Pause" disabled="disabled"
                                                role="group">
                                                <button id="pauseBtn" class="btn rounded btn-primary"
                                                    data-original-title="Refreshr">
                                                    <i class="fas fa-pause"></i>

                                                </button>
                                            </div>
                                            <div class="btn-group" id="btn-stop" value="Stop" disabled="disabled"
                                                role="group">
                                                <button id="stopBtn" class="btn rounded btn-primary"
                                                    data-original-title="Refreshr">
                                                    <i class="fas fa-stop"></i>
                                                </button>
                                            </div>


                                            <div class="btn-group" role="group">
                                                <button id="save" class="btn btn-primary rounded"
                                                    data-original-title="Deactivate">
                                                    <i class="fas fa-plus"></i>
                                                </button>
                                            </div>

                                            <div class="btn-group" role="group">
                                                <button type="button" id="scrapBtn" class="btn btn-warning rounded"
                                                    data-toggle="tooltip" data-placement="right"
                                                    data-original-title="Delete" title="Remove saved positions">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                            <!----
                                            <div class="btn-group" role="group">
                                                <button id="react" class="btn btn-success text-white rounded"
                                                    data-original-title="Activate">

                                                    <i class="fas fa-volume-up vol"></i>
                                                    <input type="range" min="0" max="1" value="10" step="0.1"
                                                        class="form-control-range" id="volumeRange">
                                                </button>
                                            </div> -->
                                            <div class="btn-group" role="group">
                                                <button type="button" id="speedBtn" class="btn btn-warning rounded"
                                                    data-toggle="tooltip" data-placement="right"
                                                    data-original-title="Delete" title="Change transition speed">
                                                    <i class="fas fa-tachometer-alt"> <span id="speedValue">2</span>
                                                    </i>
                                                    <input type="range" min="1" max="10" value="2" step="0.1"
                                                        class="form-control-range" id="formControlRange"></button>
                                                </button>
                                            </div>
                                            <div class="btn-group" role="group" aria-label="...">
                                                <button type="button" id="alignY" data-toggle="tooltip"
                                                    data-placement="right" title="Align vertically"
                                                    class="btn btn-info rounded"><i
                                                        class="fas fa-arrows-alt-v"></i></button>
                                                <button type="button" id="alignX" data-toggle="tooltip"
                                                    data-placement="right" title="Align horizontal"
                                                    class="btn btn-primary rounded"><i
                                                        class="fas fa-arrows-alt-h"></i></button>
                                            </div>

                                            <div class="btn-group" role="group" aria-label="...">
                                                <button type="button" id="spaceY" data-toggle="tooltip"
                                                    data-placement="right" title="Space vertically"
                                                    class="btn btn-large btn-success rounded"><i
                                                        class="fas fa-align-justify"></i></button>
                                                <button type="button" data-toggle="tooltip" data-placement="right"
                                                    title="Space horizontally" id="spaceX"
                                                    class="btn rounded btn-danger"><i
                                                        class="fas fa-exchange-alt"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>


        <div class="container">
            <div class="row">
                <table class="table sceneTable border shadow-lg mt-3">
                    <thead></thead>
                    <tbody>
                        <tr id="sceneInfo" class=" dnd-moved topRow">

                        </tr>
                        </th>
                        <tr id="scenes" class="text-dark dnd-moved">
                        </tr>
                    </tbody>
                </table>
                <!-- a div where the div will be placed -->

            </div>
            <div class="container" id="extraContent">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col-xl-12 col-lg-6 col-md-6">
                                <div class="form">

                                </div>

                                <div class="form-group mt-2 text-dark form">
                                    <textarea class="form__input" id="formationNotes" placeholder="Take some notes..."
                                        rows="3"></textarea>
                                </div>
                                <!----   <h6 class="mt-3 text-dark">Group Select</h6>
                            <div class="card bg-secondary mt-2" style="width: 18rem;">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item initialLi">
                                        <h6 class="card-title" id="selectedName2"><i id="padlock"
                                                class="fas fa-lock-open"></i></h6>
                                    </li>
                                    <div id="selectedNodes">

                                    </div>

                                </ul>
                            </div>  ---->
                            </div>
                        </div>
                    </div>
                </div><!----
                <div>
                    <div class="container">
                        <div class="row justify-content-center">
                            <h6>Audio</h6>
                        </div>

                    </div>
                    <div id="audio-spectrum"></div>
                </div>


            </div>-->
        </div>
    </div>
    <!-- Notes Modal  -->
    <div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Formation Notes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalBody">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!---Save Confirm-->
    <div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="saveModalContent">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Save All</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalBody">
           <input id="projectName" class="form-control" type="text" placeholder="Project name...">
            </div>
            <div class="modal-footer">
                <button id="confirmSaveBtn" onclick="saveConfirm()" class="btn">Confirm</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/8.0.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.0.2/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.0.2/firebase-analytics.js"> </script>
    <!-- Add Firebase products that you want to use -->
    <script src="../src/config.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.0.2/firebase-auth.js"></script>


    <script src="https://code.createjs.com/1.0.0/easeljs.min.js"></script>
    <script src="https://code.createjs.com/1.0.0/tweenjs.min.js"></script>
    <script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/wavesurfer.js/1.3.7/wavesurfer.min.js"></script>
    <script src="../src/dragndrop.table.columns.js"></script>
 <!----   <script src="waveform.js"></script>  -->
    <script src="../src/auth.js"></script>
    <script src="../src/draggable.js"></script>
    <script src="stage.js"></script>
    <script src="ui.js"></script>
    <script src="../src/firebase.js"></script>


</body>

</html>