body {
  background-color: #faf7f6;
}
.mStage {
  /*border: grey 5px solid;*/
  background-color: #212121;
}
.grid {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px);
}
/*
#overlay {
  display: inline-block;
  max-width: 1200;
  margin: 0 auto;
  box-sizing: content-box;
}
*/
h5 {
  color: #354c67;
}

table {
  background-color: #212121;
  color: white;
}
td {
  color: white;
}
#speedValue {
  font: bold;
}
.alert {
  align-content: center;
  position: fixed;
}
.bgCourt {
  background: url(../imgs/bcourt.png);
  background-size: 1200px, 600px;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
#demoCanvas {
  width: 100%;
  height: auto;
}
