.mStage {
  touch-action: none;
  border-style: solid;
  border: 3px deepskyblue solid;
  border-radius: 7px;
  background-color: white;/*rgba(0, 0, 0, 0.322);*/

}

.grid {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, rgba(61, 122, 255, 0.418), transparent 1px),
    linear-gradient(to bottom, rgba(61, 122, 255, 0.541), transparent 1px);
}

.rubbishBtn{
  margin-left: 7px;
  margin-right: 7px;
  float: right;
  color:rgba(121, 121, 121, 0.438);

}
.rubbishBtn:hover{
  color:rgba(133, 0, 0, 0.87);
}
.notesBtn{
  margin-left: 7px;
  margin-right: 7px;
  float: right;
  color:rgba(104, 104, 104, 0.438);
}
.notesBtn:hover{
  color:rgba(170, 153, 0, 0.534)
}

.sceneTable{
    border-radius: 10px;
    margin-top: 10px;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  

}
.topRow{
  background-color: #212121;
  
}

table {
  background-color: rgba(0, 0, 0, 0.021);
  color: black;
  border: #212121 5px solid;
}

td {
  border: #212121 5px solid;
  color: white;
  overflow-x: auto;
  font-style: bold;
  font-weight: 1000;

}
.canvasCopys{
  width:200px;
}
.canvasCopys :hover {
  background-color: #6666661e;
}

#speedValue {
  font: bold;
}

.alert {
  align-content: center;
  position: fixed;
}

.bgCourt {
  background: url(../imgs/bcourt.png);
  background-size: 1200px, 600px;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

#demoCanvas {
  width: 100%;
  height: auto;
}

.cardStyle {
  background-color: #f2f5fa;
  ;
  color: #5777ba;

}

.cardStyle2 {
  background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  background-position: right center;
  /* change the direction of the change here */
  color: gray;

  text-decoration: none;
}



.card {
  max-width: 100%;
  background-color: #f2f5fa;
  ;

}

#splashScreen {
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: none;
}



.vertical-center {
  min-height: 100%;
  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.form-control {
  background-color: rgba(240, 240, 240, 0.178);
  color: white
}

.liStyle {
  background-color: rgba(240, 240, 240, 0.021);
}
.wrap{
  background-color: #21212123;
}

#namechange {
  background-color: rgba(240, 240, 240, 0.548);
  border: none;
  white-space: nowrap;
  width: 130px;
}

.initialLi {
  background-color: rgba(240, 240, 240, 0.548);
  border: none;
}

.canvasCol {
  vertical-align: middle;
}

.dropdown-item:hover {
  background-color: rgba(65, 105, 225, 0.11);
}

#mainContent {
 /* display: none;*/
}
.btn-group button{
  background-color: rgba(255, 255, 255, 0.212);
  color:#212121;
  margin: 10px;

}
.btncontainer{
  display: block;
  overflow-x: auto;
}

#formControlRange{
  display:none;
}
#speedValue{
  display: none;
}
.speedBtn:hover + #formControlRange{
 display: block;
}
.vol{color:#212121;}

.savedScene{
border-radius: 5px;
}