@import url('https://fonts.googleapis.com/css?family=Poppins:900i');
:root {
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;
  
  --white: #FFFFFF;
  --greyLight-1: #E4EBF5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
}
$shadow: .3rem .3rem .6rem var(--greyLight-2), 
-.2rem -.2rem .5rem var(--white);
$inner-shadow: inset .2rem .2rem .5rem var(--greyLight-2), 
inset -.2rem -.2rem .5rem var(--white);

// Scrollbar
::-webkit-scrollbar {
  width: 20px;
  background-color: rgba(168, 168, 168, 0.123);
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(236, 236, 236, 0.274);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--greyLight-2);
  border-radius: 10px;
}

body{
  background: var(--greyLight-1);
  font-family: 'Poppins', sans-serif;
}
#mainContent {

  display: none;
  margin-top: 10px;
  transition: all 1s;
}

.btn-nav{
  color:white;
  width: auto;
  height: 2rem;
  border-radius: 1rem;
  
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .3s ease;
  padding-left: 5px;
  padding-right: 5px;
}
.btn-nav:hover{
  color:white;
}

.dropdown-menu{
  background-color: #d3d3d3d3;
}
#splashScreen {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
 //background-size: cover;
 height: 100%;
 width: 100%;
}


@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
#extraContent{
 display:none;
}

.mStage {
 touch-action: none;
 border-style: solid;
 border: 3px deepskyblue solid;
 border-radius: 7px;
 background-color: white;/*rgba(0, 0, 0, 0.322);*/

}
.successMsg{
  background-color: #aaf255;
}
.grid {
 background-size: 40px 40px;
 background-image: linear-gradient(to right, rgba(61, 122, 255, 0.418), transparent 1px),
   linear-gradient(to bottom, rgba(61, 122, 255, 0.541), transparent 1px);
}
#confirmSaveBtn{
  background-color: #41c300;
  color: white;
}

.rubbishBtn{
 margin-left: 7px;
 margin-right: 7px;
 float: right;
 color:rgba(121, 121, 121, 0.438);

}
.rubbishBtn:hover{
 color:rgba(133, 0, 0, 0.87);
}
.notesBtn{
 margin-left: 7px;
 margin-right: 7px;
 float: right;
 color:rgba(104, 104, 104, 0.438);
}
.notesBtn:hover{
 color:rgba(170, 153, 0, 0.534)
}

.sceneTable{
   border-radius: 10px;
   margin-top: 10px;
   display: block;
   overflow-x: auto;
   white-space: nowrap;
 

}
.topRow{
 background-color: #2b2b2b;
 
}

table {
 background-color: rgba(0, 0, 0, 0.021);
 color: black;
 border: #212121 5px solid;
}

td {
 border: #212121 5px solid;
 color: white;
 overflow-x: auto;
 font-style: bold;
 font-weight: 1000;

}
.canvasCopys{
 width:200px;
}
.canvasCopys :hover {
  transition: all 0.3s;
 background-color: #fafafaee;
}

#speedValue {
 font: bold;
}

.alert {
 align-content: center;
 position: fixed;
}

.bgCourt {
 background: url(../imgs/bcourt.png);
 background-size: 1200px, 600px;
 background-repeat: no-repeat;
 background-position: center;
 overflow: hidden;
}

#demoCanvas {
 width: 100%;
 height: auto;
}

.cardStyle {
 background-color: #f2f5fa;
 ;
 color: #5777ba;

}

.cardStyle2 {
 background-image: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
 background-position: right center;
 /* change the direction of the change here */
 color: gray;

 text-decoration: none;
}



.card {
 max-width: 100%;
 background-color: #f2f5fa;
 ;

}


.vertical-center {
 min-height: 100%;
 /* Fallback for browsers do NOT support vh unit */
 min-height: 100vh;
 display: flex;
 align-items: center;
}

.form-control {
 background-color: rgba(240, 240, 240, 0.178);
 color: white
}

.liStyle {
 background-color: rgba(240, 240, 240, 0.021);
}
.wrap{
 background-color: #21212123;
}

#namechange {
 background-color: rgba(240, 240, 240, 0.548);
 border: none;
 white-space: nowrap;
 width: 130px;
}

.initialLi {
 background-color: rgba(240, 240, 240, 0.548);
 border: none;
}

.canvasCol {
 vertical-align: middle;
}

.dropdown-item:hover {
 background-color: rgba(65, 105, 225, 0.11);
}


.btn-group button{
 background-color: rgba(255, 255, 255, 0.212);
 color:#212121;
 margin: 10px;
 border:none;

}
.btncontainer{
 display: block;
 overflow-x: auto;
}

#formControlRange{
 display:none;
}
#speedValue{
 display: none;
}
.speedBtn:hover + #formControlRange{
display: block;
}
.vol{color:#212121;}

.savedScene{
border-radius: 5px;
}
// Neo Stylings

// Buttons //
.btn {
  width: 5rem;
  height: 4rem;
  border-radius: 1rem;
  box-shadow: $shadow;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .3s ease;

  &__primary {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    background: var(--primary);
    box-shadow:inset .2rem .2rem 1rem var(--primary-light), 
              inset -.2rem -.2rem 1rem var(--primary-dark),
              $shadow;
    color: var(--greyLight-1);

    &:hover { color: var(--white); }
    &:active {
      box-shadow:inset .2rem .2rem 1rem var(--primary-dark), 
             inset -.2rem -.2rem 1rem var(--primary-light);
    }
  }

  &__secondary {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    color: var(--greyDark);
    &:hover { color: var(--primary); }
    &:active {
      box-shadow: $inner-shadow;
    }
  }

  p { 
    font-size: 1.6rem;
  }
}

/*  SWITCH  */
.switch { 
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-gap: 3rem;
  justify-self: center;
  input { display: none; }
  
  &__1, &__2 {
  width: 6rem;
	label {
    display: flex;
    align-items: center;
		width: 100%;
    height: 3rem;
    box-shadow: $shadow;
    background: rgba(255,255,255,0);
		position: relative;
		cursor: pointer;
		border-radius: 1.6rem;
    
		&::after {
			content: "";
      position: absolute;
      left: .4rem;
			width: 2.1rem;
			height: 2.1rem;
      border-radius: 50%;
      background: var(--greyDark);
			transition: all .4s ease;
      }
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      border-radius: inherit;
      background: linear-gradient(330deg, var(--primary-dark) 0%, var(--primary) 50%, var(--primary-light) 100%);
      opacity: 0;
      transition: all .4s ease;
    }
	  }
  }
  & input:checked {
        & ~ label {
          &::before { opacity: 1; }
          &::after {
            left: 57%; 
            background: var(--greyLight-1);
          }
        }
    }
}
// FORM //
.form {

  &__input {
    width: auto;
    height: 8rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.4rem;
    padding-left: 1.4rem;
    box-shadow: $inner-shadow;
    background: none;
    font-family: inherit;
    color: var(--greyDark);

    &::placeholder { color: var(--greyLight-3); }
    &:focus { outline: none; box-shadow: $shadow; }
  }
  
}

.splashcard{
  background-color: var(--greyLight-2);
}
.splashcard:hover{
  transition: all 0.5s;
  background-color: rgba(255, 255, 255, 0.87)
}
.splashcard2{
  background-color: var(--greyLight-2);
}
.splashcard2 button{
  background-color: var(--greyDark);
  box-shadow: none;
}
.splashcard2 button:hover{
  background-color: var(--greyLight-1);
}

//splash
.wrapper {
  display: flex;
  justify-content: center;
}

#newProjectContent{
  display: none;
}




.cta {
    display: flex;
    padding: 10px 45px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: white;
    background: #6225E6;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
}

.cta:focus {
   outline: none; 
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #FBC638;
}

.cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

  span {
    transform: skewX(15deg) 
  }

  span:nth-child(2) {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
  }
  
/**************SVG****************/

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: #FBC638;
    }
    100% {
        fill: white;
    }
}

.newSplashCard{
  width: 30rem;
}

.goBtn{
  color:white;
  width: 2rem;
  height: 2rem;
  background-color: #00af09;
  border-radius: 50%;
  float:right;
  border:none;
  
}
//Cube
$size: 150px;

.cubeBox {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
  width: 50%;
}

@keyframes rotate {
  0% {
    transform: rotateX(-37.5deg) rotateY(45deg);
  }
  50% {
    transform: rotateX(-37.5deg) rotateY(405deg);
  }
  100% {
    transform: rotateX(-37.5deg) rotateY(405deg);
  }
}

.cube, .cube * {
  position: absolute;
  width: $size + 1;
  height: $size + 1;
}

.sides {
  animation: rotate 3s ease infinite;
  animation-delay: .8s;
  transform-style: preserve-3d;
  transform: rotateX(-37.5deg) rotateY(45deg);
}

.cube .sides * {
  box-sizing: border-box;
  background-color: rgba(242, 119, 119, .5);
  border: $size / 10 solid white;
}

@mixin side($name, $rotate, $i) {
  .#{$name} {
    animation: #{$name}-animation 3s ease infinite;
    animation-delay: $i * 100ms;
    transform: #{$rotate} translateZ($size);
    animation-fill-mode: forwards;
    transform-origin: 50% 50%;
  }

  
  @keyframes #{$name}-animation {
    0% { opacity: 1; transform: #{$rotate} translateZ($size)}  
    20% { opacity: 1; transform: #{$rotate} translateZ($size / 2)}  
    70% {  opacity: 1; transform: #{$rotate} translateZ($size / 2) }
    90% {  opacity: 1; transform: #{$rotate} translateZ($size) }
    100% {  opacity: 1; transform: #{$rotate} translateZ($size) }
  }
}

.cube .sides {
  @include side("top", rotateX(90deg), 0);
  @include side("bottom", rotateX(-90deg), 0);
  @include side("front", rotateY(0deg), 1);
  @include side("back", rotateY(-180deg), 1);
  @include side("left", rotateY(-90deg), 1);
  @include side("right", rotateY(90deg), 1);
}

.text {
  margin-top: $size * 3;
  color: rgba(242, 119, 119, 1);
  font-size: 1.5rem;
  width: 100%;
  font-weight: 600;
  text-align: center;
}